
/*Global font-family*/
html *{
    font-family: 'Montserrat', sans-serif;
}

/*Main content background color*/
main{
    background-color: #64B8A1;
    margin-top: -25px;
}


/*Body default margin*/
body{
    margin: 0px;
    padding: 0px;
  }

/*Navigation bar styling */
header{
    background-color: #FED523;
    font-size: 16px;
}

.nav-link{
    color:white;
}


/*Footer styling */
footer{
    background-color: #F26400;
    font-size: 10px;
}

/*Back to the top button styling*/
.back-to-top{
    position: fixed;
    bottom: 100px;
    right: 50px;
}

#gallery-wrapper img{
    width:600px;
    height:400px;
}

/*Heading default styling*/
h1,h2, h3, h4, h5, h6{
    color: #D20001;
    text-align: center;
    font-weight: bold;
}

/*Contact us page styling*/
#contact-heading h2{
    padding: 30px;

}
#contact-content{
    padding-bottom: 50px;

}

.send-message{
    padding-top: 20px;
}

#top-title{
    /*background-color: rgba(100, 184, 161, 0.58);*/
    padding: 6%;
}

#faq{
    margin: 5%;
}


