
/*Global font-family*/
html *{
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
  }

/*Navigation bar styling */
header{
    background-color: #64B8A1;
    color: white;
    font-size: 16px;
}

/*Footer styling */
footer{
    background-color: #FED523;
    font-size: 10px;
}

/*Back to the top button styling*/
.back-to-top{
    position: fixed;
    bottom: 100px;
    right: 50px;
}

/*Contact us styling*/
#contact-heading h2{
    padding: 30px;

}

/*Titles fonts*/

h1 {
    color: #D20001 ;
    text-align: center;
}

h2{
    color: #F26400;
    text-align: center;
}

/*Header style*/

#top-title{
    /*background-color: rgba(100, 184, 161, 0.58);*/
    padding: 6%;
}

#faq{
    margin: 5%;
}

main{
    margin-top: -25px;
}
